.clock{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    font-size: 100px;
    margin-left: 650px;
    margin-top: 250px;
    border: white solid 5px ;
   
    
    

}
body{
    background-color: black;
    background-image: url(https://wallpaperaccess.com/full/1783313.jpg);
    position: relative;
    background-size: cover;
    
}